{% extends 'test_app/body.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block text %}
<!--    <h4> Новости и события: </h4>-->
<!--    {% if post %}-->
<!--        {% for el in post %}-->
<!--            <div class="alert alert-warning mt-2">-->
<!--                <div>-->
<!--                <h5> {{ el.text }} </h5>-->
<!--                <h7> {{ el.date}} </h7>-->
<!--                <p> {{ el.likes }} </p>-->
<!--                    </div>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    {% else %}-->
<!--        <h4> Пока нет ни одной записи </h4>-->
<!--    {% endif %}-->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Designed for engineers</h1>
        <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
                Learn more
                <svg class="bi">
                    <use xlink:href="#chevron-right">
                        <symbol id="chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                        </symbol>
                    </use>
                </svg>
            </a>
            <a class="icon-link" href="#">
                Buy
                <svg class="bi">
                    <use xlink:href="#chevron-right">
                        <symbol id="chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                        </symbol>
                    </use>
                </svg>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

{% endblock %}